In [1]:
people = {
    "first" : ["Samir", "Jane", "John"],
    "last" : ['Khatri', 'Doe', 'Doe'],
    "email" : ["samir.khatri@hotmail.com", 'janedoe@email.com', 'johndoe@email.com']
}

In [2]:
people['email']

['samir.khatri@hotmail.com', 'janedoe@email.com', 'johndoe@email.com']

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(people)

In [5]:
df

   first    last                     email
0  Samir  Khatri  samir.khatri@hotmail.com
1   Jane     Doe         janedoe@email.com
2   John     Doe         johndoe@email.com

In [6]:
df['email']

0    samir.khatri@hotmail.com
1           janedoe@email.com
2           johndoe@email.com
Name: email, dtype: object

In [7]:
type(df['email'])

pandas.core.series.Series

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
df.email

0    samir.khatri@hotmail.com
1           janedoe@email.com
2           johndoe@email.com
Name: email, dtype: object

In [11]:
df[['last', 'email']]

     last                     email
0  Khatri  samir.khatri@hotmail.com
1     Doe         janedoe@email.com
2     Doe         johndoe@email.com

In [12]:
type(df[['last', 'email']])

pandas.core.frame.DataFrame

In [13]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

loc
iloc

In [14]:
df.iloc

In [15]:
type(df.iloc[1])

pandas.core.series.Series

In [16]:
df.iloc[[0,1], [1,2]]

     last                     email
0  Khatri  samir.khatri@hotmail.com
1     Doe         janedoe@email.com

In [17]:
df

   first    last                     email
0  Samir  Khatri  samir.khatri@hotmail.com
1   Jane     Doe         janedoe@email.com
2   John     Doe         johndoe@email.com

In [18]:
df.loc[0]

first                       Samir
last                       Khatri
email    samir.khatri@hotmail.com
Name: 0, dtype: object

In [19]:
df.loc[[0,1], ['email', 'last']]

                      email    last
0  samir.khatri@hotmail.com  Khatri
1         janedoe@email.com     Doe